
<div class="Details">
  <form>
  <h2>
    {{newrequest.uid}}
  </h2>
  <p>{{newrequest.problem}}</p>
  <p>{{newrequest.subject}}</p>
  <input [(ngModel)]="newrequest.date" type="date" name="date">
  Accept  <input type="radio" [(ngModel)]="newrequest.requestStatus" (click)="updateRequest(newrequest._id,newrequest)"  name="requestStatus" value="1">
  Reject <input type="radio" [(ngModel)]="newrequest.requestStatus" (click)="updateRequest(newrequest._id,newrequest)" name="requestStatus" value="0">
  </form>
</div>
