
<div class="Details">
  <form>
  <h2>
    {{newrequest.uid}}
  </h2>
  <p>{{newrequest.problem}}</p>
  <p>{{newrequest.subject}}</p>
  <input [(ngModel)]="newrequest.date" type="datetime-Local" name="date">
    <label for="accept">Accept </label> <input type="radio" (click)="acceptRequest(newrequest._id,newrequest)"  name="requestStatus" id="accept" value="1">
    <label for="reject">Reject </label><input type="radio" (click)="rejectRequest(newrequest._id,newrequest)" name="requestStatus" id="reject" value="0">
  </form>

</div>
