<div class="row">
  <div class="col">
  </div>
  <div class="col-md">
<a routerLink=""> <h1 class="title">mentorAid..</h1></a>
  </div>
  <div class="col col-lg-2">
<a routerLink=''>Home</a>
  <ng-container *ngIf="isLoggedIn(); then logIn; else logOut">

  </ng-container>
    <div class="menu">
  <ng-template #logIn>

    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/books">Resources</a>
    <div *ngIf="getRole()=='student'">
    <a routerLink="/create">Create</a>
    </div>
    <a (click)="logout()">logout</a>
    <p>{{getUsername()}} as {{getRole()}}</p>

  </ng-template>
  <ng-template #logOut>
    <a routerLink="/login">Log in</a>

  </ng-template>
  </div>
  </div>
</div>
<router-outlet></router-outlet>

