<div class="row">
  <div class="col">
<img src="../../assets/images/search.png">
  </div>
  <div class="col-md">
<a routerLink=""> <h1 class="title">MentorAid</h1></a>
  </div>
  <div class="col col-lg-2">
<span><a routerLink=''>Home</a></span>
  <ng-container *ngIf="isLoggedIn(); then logIn; else logOut">

  </ng-container>
  <ng-template #logIn>
    <a routerLink="/dashboard">Dashboard</a>
    <div *ngIf="getRole()=='student'">
    <a routerLink="/create">Create</a>
    </div>
    <a (click)="logout()">logout</a>
    <p>{{getUsername()}} as {{getRole()}}</p>

  </ng-template>
  <ng-template #logOut>
    <a routerLink="/login">Log in</a>
  </ng-template>
</div>
</div>
<router-outlet></router-outlet>

