<ng-container *ngIf="userRole=='employee' then employee; else student">

</ng-container>
<ng-template #employee>
  <h2>Pending Requests</h2>
<div *ngFor="let r of teacherPending">
  <p>UID= {{r.uid}}</p>
  <p>{{r.subject}}</p>
  <p>{{r.problem}}</p>
  <p>{{r.date}}</p>
  <a (click)="getSingleRequest(r._id)">View Details</a>
</div>
  <h2>Approved Request</h2>
  <div *ngFor="let r of teacherApproved">
    <p>UID= {{r.uid}}</p>
    <p>{{r.subject}}</p>
    <p>{{r.problem}}</p>
    <P>{{r.requestStatus}}</P><br>
    <p>{{r.date}}</p>
  </div>
  <app-calendar-request [content]= teacherApproved ></app-calendar-request>
</ng-template>
<ng-template #student>
  <h2>Pending Request</h2>
  <div *ngFor="let r of studentPending">
    <p>UID= {{r.uid}}</p>
    <p>{{r.tid}}</p>
    <p>{{r.subject}}</p>
    <p>{{r.problem}}</p>
  </div>
  <h2>Approved Request</h2>
  <div *ngFor="let r of studentApproved">
    <p>UID= {{r.uid}}</p>
    <p>{{r.tid}}</p>
    <p>{{r.subject}}</p>
    <p>{{r.problem}}</p>
    <p>{{r.date}}</p>
  </div>
  <app-calendar-request [content]= studentApproved ></app-calendar-request>
</ng-template>



