<ng-container *ngIf="userRole=='employee' then employee; else student">

</ng-container>
<ng-template #employee>
  <h2>Requests</h2>
  <div class="card-wrapper">
<div *ngFor="let r of teacherPending">
  <div class="card pendingCard" >
    <span style="width:70px; font-size:0.8em; margin-left:auto;" class="badge badge-light">pending</span>
  <p>UID= {{r.uid}}</p>
  <p>{{r.subject}}</p>
  <p>{{r.problem}}</p>
  <a (click)="getSingleRequest(r._id)">View Details</a>
  </div>
</div>
  <div *ngFor="let r of teacherApproved">
    <div class="card approveCard">
      <span style="width:70px; font-size:0.8em; margin-left:auto;" class="badge badge-light">Approved</span>
      <h4>{{r.problem}}</h4>
    <p>{{r.uid}}</p>
    <p>{{r.subject}}</p>

    </div>
  </div>
  </div>
  <app-calendar-request [content]= teacherApproved ></app-calendar-request>

</ng-template>
<ng-template #student>
  <h2>Requests</h2>

  <div class="card-wrapper">

  <div *ngFor="let r of studentPending">
    <div class="card pendingCard" >
      <span style="width:70px; font-size:0.8em; margin-left:auto;" class="badge badge-light">pending</span>
      <h3>{{r.problem}}</h3>
      <p>{{r.subject}}</p>
      <p><span>Professor: </span>{{r.tid}}</p>


    </div>
  </div>
  <div *ngFor="let r of studentApproved">

    <div class="card approveCard">
      <span style="width:70px; font-size:0.8em; margin-left:auto;" class="badge badge-light">Approved</span>
      <h3>{{r.problem}}</h3>
      <p>{{r.subject}}</p>
      <p><span>Professor: </span>{{r.tid}}</p>
    </div>
  </div>
  </div>
  <app-calendar-request [content]= studentApproved ></app-calendar-request>
</ng-template>



